%tr
  %td
    %a href="{{route_path('endpoints:show', endpoint_id=endpoint.id)}}"
      =endpoint.name
  %td
    -for key, value in status.items():
      %div
        {{key}}: {{value}}
  %td
    %a.glyphicon.glyphicon-list href="{{route_path('endpoints:show', endpoint_id=endpoint.id)}}" aria-hidden="true" title="Show"
