%div
  %h2
    =endpoint_name
  %table.table.table-condensed
    %tbody
      %tr
        %td
          Api Key
        %td
          %input type="text" value="{{api_key}}"
      %tr
        %td
          Api Secret
        %td
          %input type="text" value="{{api_secret}}"

  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %thead
      %th
        Name
      %th
        Arg
      %th
        Data
      %th
        When
      %th
        Actions
    %tbody
      -for event in events:
        %tr class="active {{event.state}}"
          %td
            {{event.name}}
          %td
            {{event.arg}}
          %td
            {{event.description|safe}}
          %td
            {{event.when_created}}
          %td
            %a.glyphicon.glyphicon-stop href="{{route_path('events:hide', event_id=event.id)}}" class="btn btn-danger btn-xs" title="Hide"
            %a.glyphicon.glyphicon-play href="{{route_path('events:hide', event_id=event.id)}}" class="btn btn-danger btn-xs" title="Edit Event"
