-extends "pluton.application:templates/main.haml"
-block content
  %div.col-lg-12
    %h1.text-center
      Endpoints&nbsp;
      %a.glyphicon.glyphicon-plus href="{{route_path('endpoints:create')}}" aria-hidden="true"

    -for endpoint in endpoints:
      =endpoint()
