-extends "pluton.application:templates/main.haml"
-block content
  %div.col-lg-12
    %div.bs-component
      %h1
        Clients
      -for client in clients:
        %div.jumbotron.jumbotron2
          %h2
            =client.name
