%div.col-lg-12
  -for breadcrumb in breadcrumbs.get_current_crumbs():
    &nbsp;>>&nbsp;
    -if breadcrumb.get_url():
      %a href="{{breadcrumb.get_url()}}"
        =breadcrumb.label
    -else:
      =breadcrumb.label
